*,
*::before,
*::afeter {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b242f;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 4px;
  box-shadow: 4px 8px 16px 0 #00000010;
  overflow: hidden;
  background: #1b242f;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.candle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.candle-flame {
  width: 20px;
  height: 35px;
  background: #ffad00;
  border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
  box-shadow: 0px 0px 20px 0px #ffad00;
  -webkit-animation: flame-twirl 15s ease infinite, glow 2s ease infinite;
          animation: flame-twirl 15s ease infinite, glow 2s ease infinite;
}
.candle-wick {
  height: 10px;
  width: 3px;
  background: #ad87a9;
}
.candle-wax {
  width: 40px;
  height: 110px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: inset -15px 0px 0px -10px #d8deed;
}
.candle-stand {
  width: 200px;
  height: 10px;
  background: #1c233e;
  border-radius: 3px;
}

@-webkit-keyframes flame-twirl {
  0%, 22%, 49%, 62%, 81%, 100% {
    border-radius: 2px 14px 8px 8px/20px 20px 8px 8px;
  }
  14%, 32%, 56%, 70%, 89% {
    border-radius: 14px 2px 8px 8px/20px 20px 8px 8px;
  }
}

@keyframes flame-twirl {
  0%, 22%, 49%, 62%, 81%, 100% {
    border-radius: 2px 14px 8px 8px/20px 20px 8px 8px;
  }
  14%, 32%, 56%, 70%, 89% {
    border-radius: 14px 2px 8px 8px/20px 20px 8px 8px;
  }
}
@-webkit-keyframes glow {
  0%, 30%, 60%, 80%, 100% {
    box-shadow: 0 0 20px 0 #ffad00;
  }
  20%, 50%, 70% {
    box-shadow: 0 0 22px 0 #ffad00;
  }
}
@keyframes glow {
  0%, 30%, 60%, 80%, 100% {
    box-shadow: 0 0 20px 0 #ffad00;
  }
  20%, 50%, 70% {
    box-shadow: 0 0 22px 0 #ffad00;
  }
}